<ion-view view-title="satilik">
  <ion-content>
    <h1>{{sayfabaslik}}</h1>
    <h5>Yatay Menu</h5>
    <ion-list>
      <ion-item ng-repeat="tur in turler" style="height:150px;background:url(img/{{tur.arkaplan}}) no-repeat;background-position:20% 100%;background-size:cover;opacity:0.6">
        <div style="background-color:#000;color:#fff;position:absolute;bottom:0;left:0;height:25px;width:100%;opacity:0.7">{{tur.baslik}}</div>
      </ion-item>
    </ion-list>
    <h5>Dikey Menu</h5>
    <ion-list>
      <ion-item ng-repeat="tur in turler">
        {{tur.baslik}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
